/* Implement Non-standard fonts */
@font-face {
    font-family: 'Metropolis-Black';
    src: url('fonts/Metropolis-Black.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis-Bold';
    src: url('fonts/Metropolis-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis-Medium';
    src: url('fonts/Metropolis-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis-Regular';
    src: url('fonts/Metropolis-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Metropolis-Light';
    src: url('fonts/Metropolis-Light.woff') format('woff');
}



/* Set body text to Metropolis-Regular and #EAEDDF*/
body {
    font-family: 'Metropolis-Regular', Helvetica, sans-serif;
    background-color: #EAEDDF;
}

/* Sets the h1 to be Metropolis Black and color to #130303 */
h1 .link-heading {
    font-family: 'Metropolis-Black', Helvetica, sans-serif;
    color: #550C18;
}

/* Sets text color to be #EAEDDF for dark backgrounds */
.results-brand h1 {
    color: #EAEDDF
}

/* Set Headings h2, h3, h4 to #550C18 */
h2, h3, h4 {
    color: #550C18;
}

/* Set h2 font to Metropolois-Bold */
h2 {
    font-family: 'Metropolis-Bold', Helvetica, sans-serif;
}

/* Set h3 font to Metropolis Medium */
h3 {
    font-family: 'Metropolis-Medium', Helvetica, sans-serif;
}

/* Set h4 font to Metropolis Light */
h4 {
    font-family: 'Metropolis-Light', Helvetica, sans-serif;
}

/* Sizing for the hamburger menu */
.fa-bars {
    font-size: 1.5em;
    color: #130303;
}

div.dropdown {
    display: block;
    padding-right: 2em;
}

.fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: rgba(138, 86, 91, .5);
    z-index: 99;
}



/* Sets background image for  adds paralax scroll index.html banner */
.main-background-nav-img {
    background: url('./img/tattoo-rps.jpg');
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sets background image and adds paralax scroll for ink-me.html banner */
.link-me-background {
    background: url('./img/grace-madeline.jpg');
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sets background image  adds paralax scroll for ink-me-results.html banner */
.link-me-results-background {
    background: url('/../public/img/results-splash.jpg');
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* expanded menu closed in mobile mode */
#expanded-menu {
    display: none;
}

/* Set color of hamburger icon for dark background */
.fa-bars.light-bar {
    color: #EAEDDF;
}

/* Sets color of expanded menu links */
.main-links {
    color: #550C18;
    size: 0em;
}

/* Sets color of expanded menu links for dark background */
.results-link {
    color: #EAEDDF;
    size: 0em;
}

/* Section headings to have only upper and bottom spacing*/
.highlight {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Make the images on the card to have fixed height */
img.card-style {
    width: auto;
    height: 300px;
}

/* Padding for card-title and card-text */
.card-title, .card-text {
    padding: 0.5em;
}

/* No top padding for card-text */
.card-text.artist-card {
    padding-top: 0;
}

img.cardnail {
    width: 300px;
    height: 300px;
    padding: 2em;
}


/* Card title 5px padding */
.card-title.artist-card {
    padding-bottom:5px;
}

/* Artist location to be small and in card */
.artist-location {
    margin-top: 0.1em;
    margin-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #550C18;
}

/* change the color of Instagram icon */
.fa-instagram {
    font-size: 1.5em;
    color: #550C18;
}


/* Icon images to have padding between */
.step-icon {
    padding: 1.5em;
}

/* Overrides Bootystraps btn-light color and hover */
.btn-light, .btn-light:hover {
    margin-bottom: .25em;
    color: white;
    border-color: #8B575C;
    background-color: #8B575C;
}

/* Adds margins for the steps in Get Started section */
.mid-steps {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Sets background image and size */
.instructions {
    background: url('/img/andrej-lisakov.jpg');
    min-height: 45vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* overlays text on background image */
.instruction-text {
    color: white;
    padding: 5em;
    text-align: center;
    text-shadow: 2px 2px black;
}

/* gives bottom padding before the steps icons */
.instruction-img {
    padding-bottom: 2em;
}


/* gives padding and sizing for tattoo gallery */
.thumbnail img {
    width: 300px;
    height: 300px;
    padding: 2em;
}


/* sets the width of the div so image doesn't fall outside */
.thumbnail {
    margin: 0 auto;
    width: 300px;
    border: 0.5px dashed lightgray;
}

.thumbnail-no-hover {
    margin: 0 auto;
    width: 300px;
    border: 0.5px dashed lightgray;
}


/* allows for fake interactivity of selecting tattoo */
div.thumbnail:hover {
    border: 5px solid #8B575C;
}

.toggleClick {
    border: 5px solid #8B575C;
}

/* gives top padding to the more tattoo button from the gallery */
.more-tattoo-btn {
    padding-top: 2em;
}



/* gives padding for the location entry button */
.location-entry {
    padding: .5em;
}

/* adds space before footer */
footer {
    margin-top: 2em;
}

/* for all links make the hover change it's color */
a h1:hover, a:hover, a h3:hover, a i.fa-instagram:hover {
    text-decoration-line: none;
    color: #8B575C;
}

#root {
    /* margin: 0; */
    padding: 0;
}
/* hides hamburger menu and displays expanded menu at larger screens */
@media (min-width: 768px) {

    div.dropdown {
        display: none;
    }

    #expanded-menu {
        display: inline-block;
        font-size: 1.5em;
    }

    .instruction-text {
        font-size: 2rem;
    }


}

/* give Get Started Section more spacing with bigger screens */
@media (min-width: 992px) {
    .step-icon {
        padding: 1em;
    }

    .mid-steps {
        margin-left: 1em;
        margin-right: 1em;
    }

    h1 .link-heading {
        font-size: 4rem;
    }

}